.heapBox{
	clear: both;
	display: block;
	line-height: 36px;
	position: relative;
}

.heapBox *{
	margin: 0;
	outline: none;
	padding: 0;
}

.heapBox.disabled .holder{
	height: 36px;
}

.heapBox a{
	font-family: "Roboto Slab" !important;
	text-decoration: none !important;
}

.heapBox .holder{
	height: 36px;
	overflow: hidden;
	text-indent: 20px;
	width: 200px;
	white-space: nowrap;
}

.heapBox .handler{
	height: 36px;
	width: 25px;
}

.heapBox .holder,.heapBox .handler{
	float: left;
	position: relative;
	z-index: 10;
}

.heapBox div.heap{
	left: -1px;
	list-style-type: none;
	overflow: hidden;
	position: absolute;
	top: 40px;
	width: 224px;
	z-index: 19;
}

.heapBox .heap .heapOptions{
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 20;
}

.heapBox .heap a.sliderUp{
	/*background: #bbb url( ../img/ui/select/up.png ) no-repeat center center;
	border-bottom: 1px solid #b0b0b0;*/
	display: block;
	height: 10px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 30;
}

.heapBox .heap a.sliderDown{
	/*background: #bbb url( ../img/ui/select/down.png ) no-repeat center center;
	border-top: 1px solid #b0b0b0;*/
	bottom: 0px;
	display: block;
	height: 10px;
	position: absolute;
	width: 100%;
	z-index: 30;
}

.heapBox .heap .heapOptions .heapOption {
	display: block;
	height: 36px;
	position: relative;
	z-index: 20;
}

.heapBox .heap .heapOptions .heapOption a{
	display: block;
	text-indent: 20px;
	width: 100%;
}

.heapBox .heap .heapOptions .heapOption a:hover{
}

.heapBox .heap .heapOptions .heapOption a.selected{
}

.heapBox .heap .heapOptions .heapOption a.disabled{
}
